<form #shortenerForm="ngForm" (ngSubmit)="onSubmit(shortenerForm.form)">

    <div class="form-group">

        <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Full url"
                name="short_url"
                id="full-url"
                [(ngModel)]="model.full_url"
                required
                #full_url="ngModel"
        />

    </div>

    <div class="form-group">

        <input
                type="text"
                class="form-control form-control-lg"
                id="short-url"
                placeholder="Short url"
                name="full_url"
                minlength="5"
                maxlength="13"
                [(ngModel)]="model.short_url"
                #short_url="ngModel"
                pattern="[a-zA-Z0-9-]+"
        />

        <br>

        <div *ngIf="short_url.invalid && (short_url.dirty || short_url.touched)" class="alert alert-danger">

            <div *ngIf="short_url.errors.minlength">
                Минимум 5 символов
            </div>

            <div *ngIf="short_url.errors.pattern">
                Символы из ИГИЛ (запрещенные на территории РФ)
            </div>

        </div>

    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!shortenerForm.valid">Short</button>

    <br>

    <div class="alert alert-success" role="alert" [hidden]="!response.result">
        <a href="{{ response.short_url }}" target="{{ response.short_url }}">Ваша ссылка: {{ response.short_url }}</a>
    </div>

    <div class="alert alert-danger" role="alert" [hidden]="!response.error">
        {{ response.error }}
    </div>

</form>